doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/style.min.css")
        title fun-box-test

        body
            div.main
                div.container
                    div.title Ты сегодня покормил кота?

                    div.products-block
                        div.product-wrap
                            div.product.default
                                div.product-top
                                    div.product-top-title Сказочное заморское явство
                                div.product-center
                                    div.product-center-name Нямушка
                                    div.product-center-name-addition с фуа-гра
                                    div.product-center-description #[b 10] порций #[br] мышь в подарок
                                    div.product-center-img
                                    div.product-center-weight 0,5
                                        span кг
                                div.product-angle
                            div.product-action
                                div.product-action-default.hidden Чего сидишь? порадуй котэ,&nbsp
                                    a(href="#").action-link купи.
                                div.product-action-selected.hidden Головы щучьи с чесноком да свежайшая сёмгушка.
                                div.product-action-disable.hidden Печалька, с курой закончился.

                        div.product-wrap
                            div.product.default
                                div.product-top
                                    div.product-top-title Сказочное заморское явство
                                div.product-center
                                    div.product-center-name Нямушка
                                    div.product-center-name-addition с фуа-гра
                                    div.product-center-description #[b 10] порций #[br] мышь в подарок
                                    div.product-center-img
                                    div.product-center-weight 0,5
                                        span кг
                                div.product-angle
                            div.product-action
                                div.product-action-default.hidden Чего сидишь? порадуй котэ,&nbsp
                                    a(href="#").action-link купи.
                                div.product-action-selected.hidden Головы щучьи с чесноком да свежайшая сёмгушка.
                                div.product-action-disable.hidden Печалька, с курой закончился.

                        div.product-wrap
                            div.product.disable
                                div.product-top
                                    div.product-top-title Сказочное заморское явство
                                div.product-center
                                    div.product-center-name Нямушка
                                    div.product-center-name-addition с фуа-гра
                                    div.product-center-description #[b 10] порций #[br] мышь в подарок
                                    div.product-center-img
                                    div.product-center-weight 0,5
                                        span кг
                                div.product-angle
                            div.product-action
                                div.product-action-default.hidden Чего сидишь? порадуй котэ,&nbsp
                                    a(href="#").action-link купи.
                                div.product-action-selected.hidden Головы щучьи с чесноком да свежайшая сёмгушка.
                                div.product-action-disable.hidden Печалька, с курой закончился.

            script(src="js/script.js")