$ff-main-bold-italic: 'Trebuchet MS Bold Italic';
$ff-main-bold: 'Trebuchet MS Bold';
$ff-main-italic: 'Trebuchet MS Italic';
$ff-main-regular: 'Trebuchet MS';
$ff-exo2: 'Exo2';

$product-background-color: #ffffff;

$font-color-dark: #000000;
$font-color-light: #ffffff;
$default-color: #1698d9;
$defaultHover-color: #2ea8e6;
$selected-color: #d91667;
$selectedHover-color: #e62e7a;
$disable-color: #b3b3b3;

$default-font-color-light: #666666;
$default-font-color-dark: #000000;
$disable-font-color: #d2d2d2;

$action-text-disable: #ffff66;
